/* Light */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Heavy */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

/* Ultralight */
@font-face {
  font-family: "SF_Pro_Display";
  src: url("SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
