@import "./Orelega_One/Orelega_One.css";
@import "./SF_Pro_Rounded/SF_Pro_Rounded.css";
@import "./SF_Pro_Text/SF_Pro_Text.css";
@import "./SF_Pro_Display/SF_Pro_Display.css";
@import "./SF_Mono/SF_Mono.css";
