/* Light */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* LightItalic */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* RegularItalic */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* MediumItalic */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* SemiboldItalic */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* BoldItalic */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Heavy */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* HeavyItalic */
@font-face {
  font-family: "SF_Mono";
  src: url("SF-Mono-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
